<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func024udwnlg5ygso4.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/56c2dbaf-79b0-4c5f-b141-30d59aca3f71/resourceGroups/rgdbresiliencylab01/providers/Microsoft.Web/sites/func024udwnlg5ygso4</ResourceId>
    <UserName>$func024udwnlg5ygso4</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://func024udwnlg5ygso4.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>